<h2>Employees</h2>
<table mdbTable class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th *ngFor="let head of headElements" scope="col border-right">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of elements">
        <th scope="row">{{el.EmployeeID}}</th>
        <td>{{el.FirstName}}</td>
        <td>{{el.LastName}}</td>
        <td>{{el.Salary}}</td>
        <td>{{el.DOB}}</td>
        <td>{{el.Email}}</td>
        <td>{{el.Action}}</td>
      </tr>
    </tbody>
</table>
